// uView Plus 全局配置
// 主题色
$u-type: 'primary';

// 字体大小
$u-font-size: 14;

// 动画配置
$u-animation: true;

// 颜色配置
$u-primary: #2D6A4F;
$u-info: #4ECDC4;
$u-warning: #FFC107;
$u-error: #F44336;
$u-success: #4CAF50;
$u-secondary: #FF8C42;
